version: '3.8'

services:
  bradd-rdt:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - ./data:/data
    restart: always
    environment:
      - NODE_ENV=production
      - DB_PATH=/data/database.sqlite